@font-face {
    font-family: "Poppins";
    src: url(../police/Poppins-Medium.ttf);
}


/*Pour éviter que les navigateurs imposent leur propre marge*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*la largeur et la hauteur des éléments sont calculées en prenant en compte le contenu, les bordures et les marges.*/
}

body {
    font-family: "Poppins";
    background-size: cover;
    background-image: url(../img/blanc.jpg);
    background-blend-mode: overlay;
    width: 100vw;
}

section {
    font-family: "Poppins";
    margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
    flex-direction: column;
    justify-content: center;
}
h2{
	margin-top: 4%;
	
}

