@font-face {
    font-family: "Poppins";
    src: url(../police/Poppins-Medium.ttf);
}


#titre_grille {
    font-size: 25px;
    letter-spacing: 1.5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px);
}

.bloc {
    background-color: rgb(230, 230, 230);
    border: 1px solid #7e7e7e;
    margin-top: 5px;

}

.bloc_red{
	background-color: red;
    border: 1px solid #7e7e7e;;
}

.bloc_green{
	background-color: green;
    border: 1px solid #7e7e7e;;
}

.bloc_orange{
	background-color: orange;
    border: 1px solid #7e7e7e;;

}