@font-face {
    font-family: "Poppins";
    src: url(../police/Poppins-Medium.ttf);
}


/*Pour éviter que les navigateurs imposent leur propre marge*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*la largeur et la hauteur des éléments sont calculées en prenant en compte le contenu, les bordures et les marges.*/
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(../img/blanc.jpg);

}

section {
    font-family: "Poppins";
    margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    top: 0;
    left: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.navbar .logo {
    font-size: 1.7em;
    letter-spacing: 1.25px;
    font-weight: bolder;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links li {
    margin: 0 30px;
    letter-spacing: 1.25px;
}


.navbar .nav-links .actif a {
    color: rgb(140, 0, 255);
    font-weight: 900;
}


